/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main container styling */
.extreme-container {
    background: linear-gradient(to bottom, #3a1c71, #d76d77, #ffaf7b);
    color: #fff;
    padding: 50px;
    border-radius: 20px;
}

/* Heading styling */
.extreme-heading {
    font-size: 36px;
    text-align: center;
}

/* Form container styling */
.extreme-form {
    margin-top: 30px;
}

    /* Label styling */
    .extreme-form label {
        color: #fff;
    }

    /* Input styling */
    .extreme-form input[type="text"],
    .extreme-form input[type="email"],
    .extreme-form input[type="password"],
    .extreme-form input[type="file"] {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
        border: 1px solid #fff;
        padding: 8px 12px;
        border-radius: 5px;
        margin-bottom: 10px; /* Add some space between inputs */
    }

        /* Input focus styling */
        .extreme-form input[type="text"]:focus,
        .extreme-form input[type="email"]:focus,
        .extreme-form input[type="password"]:focus,
        .extreme-form input[type="file"]:focus {
            border-color: #00ffcc;
        }

    /* Button styling */
    .extreme-form button {
        background-color: #8e44ad; /* Purple color */
        color: #fff;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        padding: 10px 20px;
        transition: background-color 0.3s;
        cursor: pointer; /* Add pointer cursor on hover */
    }

        /* Button hover effect */
        .extreme-form button:hover {
            background-color: #6c3483; /* Darker shade of purple */
        }
