/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main container styling */
.extreme-container {
    background: linear-gradient(to bottom, #395f93, #2980b9); /* New background color */
    color: #fff;
    padding: 50px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px; /* Limiting maximum width of the container */
    margin: 0 auto; /* Centering the container horizontally */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adding shadow effect */
}

/* Heading styling */
.extreme-heading {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px; /* Adding space below the heading */
}

/* Form container styling */
.extreme-form {
    margin-top: 30px;
}

    /* Label styling */
    .extreme-form label {
        color: #fff;
        font-weight: bold; /* Making labels bold */
        display: block; /* Ensuring labels are displayed as block elements */
        margin-bottom: 5px; /* Adding space below labels */
    }

    /* Input container styling */
    .extreme-form .form-group {
        margin-bottom: 20px; /* Increasing space between input fields */
    }

    /* Input styling */
    .extreme-form input[type="text"],
    .extreme-form input[type="email"],
    .extreme-form input[type="password"],
    .extreme-form input[type="file"] {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
        border: none;
        border-bottom: 2px solid #fff; /* Adding underline effect */
        padding: 8px 15px; /* Adjusting padding */
        width: 100%; /* Ensuring inputs take full width */
        transition: border-bottom-color 0.3s; /* Adding transition for underline color */
    }

        /* Input focus styling */
        .extreme-form input[type="text"]:focus,
        .extreme-form input[type="email"]:focus,
        .extreme-form input[type="password"]:focus,
        .extreme-form input[type="file"]:focus {
            border-bottom-color: #00ffcc; /* Changing underline color on focus */
            outline: none; /* Removing default outline */
        }

    /* Button styling */
    .extreme-form button {
        background-color: #8e44ad; /* Purple color */
        color: #fff;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        padding: 12px 25px; /* Increasing padding */
        transition: background-color 0.3s;
        cursor: pointer; /* Add pointer cursor on hover */
        width: 100%; /* Ensuring button takes full width */
        display: block; /* Making button a block element */
    }

        /* Button hover effect */
        .extreme-form button:hover {
            background-color: #6c3483; /* Darker shade of purple */
        }
