@model AfghanWheelzz.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginRegisterPartial.cshtml";
}
<link rel="stylesheet" href="~/css/style.css"/>
<!-- Display model state errors -->
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
<!-- Navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container">
          <h2>AfghanWheelzz</h2>
        </div>
    </nav>
</header>


<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
       
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="https://bootstrapious.com/i/snippets/sn-registeration/illustration.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
            <form asp-action="Register" method="post" enctype="multipart/form-data">
                <h2>Register Your Account</h2>
            
                    <div class="form-group">
                        <label asp-for="FirstName" class="text-dark">First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="text-dark">Last Name</label>
                        <input asp-for="LastName" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="text-dark">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="text-dark">Phone Number</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Address" class="text-dark">Address</label>
                        <input asp-for="Address" class="form-control" />
                    </div>




                    <div class="form-group">
                        <label asp-for="Password" class="text-dark">Password</label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <input type="checkbox" onclick="PasswordShow()"> Show Password
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="text-dark">Confirm Password</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        <input type="checkbox" onclick="ConfrimPasswordShow()"> Show Password
                    </div>
                    <div class="form-group">
                        <label asp-for="ProfilePicture" class="text-dark">Profile Picture</label>
                        <input type="file" class="form-control" id="ProfilePicture" name="ProfilePicture">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </form>
        </div>
        <!-- Divider Text -->
        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
            <div class="border-bottom w-100 ml-5"></div>
            <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
            <div class="border-bottom w-100 mr-5"></div>
        </div>


        <div class="text-center w-100">
            <p class="text-muted font-weight-bold">Already Registered?  <a class="text-primary ml-2 " nav-link" asp-action="Login" asp-controller="Account">Login</a></p>
        </div>

    </div>
    </div>
<script>
    function ConfrimPasswordShow() {
        var x = document.getElementById("ConfirmPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }



    function PasswordShow() {
        var x = document.getElementById("Password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }</script>