@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mb-4">About Us</h1>
            <p class="lead">
                AfghanWheelz is a premier platform facilitating seamless transactions in the vibrant automotive market of Afghanistan. Dedicated to bridging the gap between buyers and sellers, AfghanWheelz offers a comprehensive solution for individuals seeking to purchase or sell their favorite vehicles effortlessly.
            </p>
            <p>
                With a user-friendly interface and a vast inventory of vehicles ranging from luxury sedans to rugged off-road SUVs, AfghanWheelz caters to diverse preferences and budgets. Whether you're in search of a reliable family car for daily commutes or an adventurous off-road companion, AfghanWheelz provides an extensive selection to suit every need.
            </p>
            <p>
                At AfghanWheelz, we prioritize customer satisfaction and transparency, ensuring a smooth and secure experience for both buyers and sellers. Our platform offers detailed vehicle listings, complete with comprehensive specifications and high-quality images, empowering users to make informed decisions.
            </p>
            <p>
                Beyond facilitating transactions, AfghanWheelz serves as a trusted automotive resource, offering valuable insights, tips, and guides to assist users in navigating the automotive landscape. Whether you're a seasoned car enthusiast or a first-time buyer, AfghanWheelz is your ultimate destination for all things automotive in Afghanistan.
            </p>
            <p>
                Experience the convenience and reliability of AfghanWheelz today, and embark on your journey to find the perfect vehicle tailored to your preferences and lifestyle. Join our community of passionate automotive enthusiasts and unlock a world of possibilities with AfghanWheelz.
            </p>
        </div>
        <div class="col-lg-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52660.32321641947!2d70.4303442467401!3d34.41989114824846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38da070e07073f8d%3A0x7517fab9e7379634!2sJalalabad%2C%20Afghanistan!5e0!3m2!1sen!2s!4v1707156682253!5m2!1sen!2s" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
