@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body>
<div class="container extreme-container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="extreme-heading text-white">Contact Us</h1>
            <div class="extreme-content">
                <p class="text-white">Contact US.</p>
                <p class="text-white">For any inquiries or assistance, please feel free to contact us using the information provided below:</p>
                <ul>
                    <li class="text-white">Phone Number: 0348-1534035</li>
                    <li class="text-white">Email: <a href="mailto:nawab.safi61@gmail.com">nawab.safi61@gmail.com</a></li>
                </ul>
            </div>
        </div>
       
    </div>
</div>
</body>
</html>